/* Add CSS styling here */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*{
    /*border: 1px solid black;*/
    box-sizing: border-box;
    max-width: 100%;
}

html{
    font-size: 62.5%;
}

header{
    /*display:flex;
    flex-direction:column;
    align-items:center;
    background-color:grey;*/
    background-image:url("https://images.unsplash.com/photo-1497091071254-cc9b2ba7c48a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}

h1{
    display:flex;
    justify-content:center;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
    color: white;
    width:100%;
    font-size: 1.5rem;
    background-color:grey;

}

/**formatting for nav bar**/

.links{
    display:flex;
    justify-content:space-around;
    background-color:grey;
}

.links a{
    border: .2rem solid white;
    font-size:2rem;
    margin-top: 2%;
    margin-bottom:2%;
    padding:1% 2%;
    text-decoration: none;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
    line-height: 3rem;
    border-radius: 1rem;
}



.links a:hover{
    border: .2rem inset white;
    background-color:lightgrey;
}

/** formatting for the "about me" section**/

.about-me{
    display:flex;
    align-items:center;
    justify-content:center;
}

.about-me p{
    margin-top: 5%;
    text-align:center;
    padding: 2%;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 1.4rem;
    width:100%;

}

.background-container{
    height:40vh;
}

/** formatting for "view my procects" button**/

.projects-below{
    display:flex;
    justify-content:center;
}

.projects-below a{
    border: .2rem solid white;
    margin-top: 10rem;
    text-decoration: none;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    padding:1.5%;
    border-radius: 1rem;
}

.projects-below a:hover{
    border: .2rem inset white;
    background-color:lightgrey;
    color:white;
}

/** formatting for project images**/

.four-images{
    display:flex;
    justify-content: flex-start;
    background-color:grey;
    padding:3%;
}

.four-images img{
    border: .1rem solid white;
    width:20%;
    border-radius: 1rem;
    margin:.5%;
}

.four-images img:hover{
    border: .5rem double white;
}


/** formatting for paragraph next to images**/

.four-images div p{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    color: white;
    letter-spacing: .3rem;
    text-align:right;
    margin:10%;
    border: .1rem solid white;
    padding:10%;
    background-color:darkgrey;

}

footer{
    /*display:flex;
    justify-content:center;
    font-family: "Impact", sans-serif;
    font-size:40px;
    background-color:teal;
    padding:5%;*/

}


.nav2{
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-color:darkgrey;
}

/** formatting for contact me button**/

.nav2 a{
    border: .2rem solid white;
    font-size:2rem;
    margin-top: 2%;
    margin-bottom:2%;
    padding:1% 2%;
    text-decoration: none;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
    line-height: 3rem;
    border-radius: 1rem;
}

.nav2 a:hover{
    background-color:lightgrey;
    color:white;
}

/** formatting for social media links**/

.nav3{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:grey;
}

.nav3 a{
    padding:1%;
}

.nav3 a:hover{
    background-color:lightgrey;

}

/**media formatting**/

@media(max-width:800px){
    .links{
      flex-direction: column;  
      align-items:center;
    }

    .links a{
        text-align:center;
        width:20%;
    }

    .four-images{
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:center;
    }
    .four-images img{
        width:40%;
    }

}

@media(max-width:500px){
    .about-me p{
        width:80%;
    
    }

}